.wp-block-wyvern-plugin-posts-with-filters {
    background: var(--post-card-block-background-color);

    .posts-category-filters {
        align-items: center;
        display: block;
        flex-flow: row wrap;
        justify-content: center;
        margin: 0;
        padding: 40px 0 20px;
        padding: 4rem 0 2rem;
        text-align: center;

        @media (--menu-query) {
            display: flex;
        }

        .posts-category-filter {
            list-style-type: none;
            margin: 0 10px;
            margin: 0 1rem;

            a {
                color: var(--nav-item-color);
                display: block;
                font-family: var(--font-special);
                font-size: 18px;
                font-size: 1.8rem;
                position: relative;
                text-decoration: none;
                text-transform: uppercase;
                transition: color var(--linear);

                &:after {
                    background: var(--nav-item-color-hover);
                    border-radius: var(--border-radius-tiny);
                    bottom: 0;
                    content: '';
                    display: none;
                    height: 5px;
                    left: 0;
                    position: absolute;
                    transform: scale3d(0, 1, 1);
                    transition: transform var(--cubic);
                    width: 100%;

                    @media (--menu-query) {
                        display: block;
                    }
                }

                &:hover,
                &:focus,
                &:active {
                    color: var(--nav-item-color-hover);

                    &:after {
                        transform: scale3d(1, 1, 1);
                    }
                }
            }

            &.current {
                a {
                    color: var(--nav-item-color-hover);

                    &:after {
                        transform: scale3d(1, 1, 1);
                    }
                }
            }
        }
    }

    .posts-container {
        align-items: flex-start;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        padding: 20px;
        padding: 2rem;
        
        @media (--content-query) {
            padding: 40px;
            padding: 4rem;
        }

        .button-container {
            flex: 0 1 100%;
            text-align: center;
        }
    }
}