/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
.alignfull,
.alignwide {
    .wp-block-group__inner-container {
        > *:not(.alignfull):not(.alignwide) {
            max-width: 720px;
            max-width: 72rem;
        }
    }
}

.alignfull {
    max-width: 100%;
}

.alignwide {
    margin: auto;
    max-width: 960px;
    max-width: 96rem;
}

.wrapper {
    margin: 0 auto;
    max-width: 1440px;
}

.page-content {
    display: flex;
    flex-flow: row wrap;
}

.main {
    flex: 0 1 100%;

    @media (--menu-query) {
        flex: 0 1 72%;
        margin-right: 3%;

        .home &,
        .page &,
        .bbpress & {
            flex: 0 1 100%;
            margin-right: 0;
        }

        .home & {
            align-items: center;
            display: flex;
            flex-flow: row wrap;

            .home-block {
                flex: 0 1 100%;
            }
        }
    }
}

.sidebar {
    flex: 0 1 100%;

    @media (--menu-query) {
        flex: 0 1 25%;
        margin: 0 auto;
        max-width: 300px;
    }
}

.posts {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 20px 0;
    padding: 2rem 0;

    @media (--menu-query) {
        padding: 0;
    }
}