.site-logo {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
}

.menu-toggle {
    font-size: 16px;
    font-size: 1.6rem;
    padding: 10px;
    padding: 1rem;
}

.search-toggle {
    padding: 10px 12px;
    padding: 1rem 1.2rem;
}

.home-block {
    padding: 20px;
    padding: 2rem;
}

.post-title {
    margin: 0 0 10px;
    margin: 0 0 1rem;

    .post-card & {
        font-size: calc(var(--s2) * 0.85);
    }

    a {
        color: var(--text-color-dark);
        text-decoration: none;
        transition: color var(--linear);

        &:hover,
        &:focus,
        &:active {
            color: var(--text-color-medium);
        }
    }
}

.post-excerpt {
    line-height: 1.75;
    margin-top: 0;
}

.read-more {
    color: var(--link-color);
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    transition: color var(--linear);

    .read-more-text {
        display: inline-block;
        margin: 0;
        padding: 0;
    }

    &:hover,
    &:focus,
    &:active {
        color: var(--link-color-hover);
    }
}

.post {
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-style) var(--box-shadow-color), var(--box-shadow-style-alt) var(--box-shadow-color-alt);
}

.cookie-bar {
    align-items: center;
    background: var(--cookie-bar-color);
    bottom: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    left: 0;
    padding: 20px;
    padding: 2rem;
    position: fixed;
    text-align: center;
    width: 100%;

    &.hide {
        display: none;
    }

    .cookie-bar-text {
        line-height: 1;
        margin: 0 20px;
        margin: 0 2rem;
    }

    button,
    .button {
        &:first-of-type {
            margin-right: 20px;
            margin-right: 2rem;
        }
    }
}